<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <form method="post" action="/landmarks">
      <h1>New Landmark</h1>
      <h1>Please enter the name of the figure you wish to create</h1>
          <p>Landmark Name:<input type="text" id="landmark_name" name="landmark[name]"></p>
          <p>New Title:<input type="text" id="new_title" name="title[name]"></p>
          <p>Year Completed<input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
      <input type="submit" value="Create New Landmark">
    </form>
  </body>
</html>